.cascader {
    @extend .dropdown;

    &.is-active, &.is-hoverable:hover {
        .cascader-menu {
            display: block;
        }
    }

    .cascader-menu {
        @extend .dropdown-menu;
        display: none;
    }

    .cascader-content {
        @extend .dropdown-content;
    }

    .cascader-item {
        padding: 0.375rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: greenyellow;
        }
    }
}